@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Libre+Baskerville&display=swap');

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: #FAFBFF;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 400;
  color: #161B33;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  max-width: 1600px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.offset-3 {
  margin-left: 25%;
}
@media screen and (max-width: 768px) {
  .col {
    margin-bottom: 30px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-3 {
    margin-left: 0;
  }
}

/* Type */
h1, h2 {
  font-family: 'Libre Baskerville', serif;
  line-height: 1.2;
}
h1 {
  margin: 6rem 0 1.2rem;
  font-size: 6rem;
}
h2 {
  margin: 5rem 0 1.2rem;
  font-size: 3.8rem;
}
h3 {
  margin: 1.5rem 0 1rem;
  font-size: 2rem;
  font-weight: 500;
}
p {
  margin: 1.2rem 0;
}
a {
  color: #222323;
  text-decoration: none;
  box-shadow: inset 0 -5px 0 0 rgba(54, 70, 82, 0.3);
  transition: box-shadow 0.2s ease-out;
}
a:hover, a:focus {
  box-shadow: inset 0 -18px 0 0 rgba(54, 70, 82, 0.3);
  transition-timing-function: ease-in;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
}

/* Sources */
.source {
  padding: 50px 0 30px;
  font-size: 1.6rem;
}
.source ul {
  margin: 0;
  padding-left: 25px;
  list-style: circle;
}
.source li {
  margin: 5px 0;
}