# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
*/*/*/dist
*/*/*/node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode settings
.vscode/

# Parcel cache
.parcel-cache