<app-card>
  <h2>Awareness</h2>
  <app-chart-container
    [width]="width"
    [height]="height"
    [margin]="margin"
  >
    <svg:g appAxis
      [type]="'band'"
      [scale]="xScale"
      [ticksArray]="ticksArray"
      [innerWidth]="innerWidth"
      [innerHeight]="innerHeight"
    ></svg:g>
    <svg:g appAxis
      [type]="'left'"
      [scale]="yScale"
      [innerWidth]="innerWidth"
      [innerHeight]="innerHeight"
      label="{{'Awareness %'}}"
    ></svg:g>
    <svg:rect *ngFor="let d of awarenessData, index as i; trackBy: trackByFn"
      [attr.x]="xScale(d.name)"
      [attr.y]="yScale(d.awareness_percentage)"
      [attr.width]="xScale.bandwidth()"
      [attr.height]="innerHeight - yScale(d.awareness_percentage)"
      [attr.fill]="colorScale(d.id)"
    />
  </app-chart-container>
</app-card>