.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: 1400px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
[class^="col-"] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

/* Medium layout */
@media (min-width: 600px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Large layout */
@media (min-width: 1100px) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}