@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Work+Sans:wght@300&display=swap');

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body {
  margin: 0 0 60px;
  background-color: #f5f9ff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 500;
  color: #192e4d;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  max-width: 1200px;
}

/* Type */
h1, h2, h3, h4 {
  font-family: 'Work Sans', sans-serif;
}
h1 {
  margin: 6rem 0 1.2rem;
  font-size: 4.5rem;
}
h2 {
  margin: 5rem 0 1rem;
  font-size: 2.8rem;
  line-height: 1.2;
}
h3 {
  margin: 1rem 0;
  font-size: 2rem;
}
@media screen and (max-width: 596px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}
p {
  margin: 1.2rem 0;
}
a {
  color: #192e4d;
  text-decoration: none;
  box-shadow: inset 0 -5px 0 0 rgba(213, 96, 98, 0.6);
  transition: box-shadow 0.2s ease-out;
}
a:hover, a:focus {
  box-shadow: inset 0 -18px 0 0 rgba(213, 96, 98, 0.6);
  transition-timing-function: ease-in;
}

/* Intro */
.intro,
.methodology {
  max-width: 800px;
}

/* Sources */
.sources ul {
  margin: 0;
  padding-left: 5px;
  list-style: none;
}
.sources li {
  margin: 5px 0;
}