.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    max-width: 1400px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  .col,
  [class^="col-"],
  [class*=" col-"] {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-8 {
    flex: 0 0 66.67%;
    max-width: 66.67%;
  }
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }