@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Roboto:wght@400;500;700&display=swap');

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: #f6fafc;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #222323;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: 900px;
}

/* Type */
h1, h2, h3, h4 {
  font-family: 'EB Garamond', serif;
  line-height: 1.2;
  font-weight: 600;
}
h1 {
  margin: 6rem 0 1.2rem;
  font-size: 4.8rem;
}
h2 {
  margin: 3rem 0 1.2rem;
  font-size: 3rem;
}
p {
  margin: 1.2rem 0;
}
a {
  color: #222323;
  text-decoration: none;
  box-shadow: inset 0 -5px 0 0 rgba(193, 83, 33, 0.3);
  transition: box-shadow 0.2s ease-out;
}
a:hover, a:focus {
  box-shadow: inset 0 -18px 0 0 rgba(193, 83, 33, 0.3);
  transition-timing-function: ease-in;
}

li {
  list-style: none;
}

/* Intro */
.intro {
  margin-bottom: 40px;
}
.tip {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 20px 15px 15px;
  background-color: #dfe9ed;
  border-radius: 4px;
}
.tip svg {
  position: relative;
  top: 3px;
  margin-right: 3px;
  width: 20px;
  height: 20px;
}

/* Top legend */
span.support {
  display: inline-block;
  margin: 2px 1px;
  padding: 2px 5px;
  line-height: 2rem;
  font-weight: 500;
  color: #f6fafc;
  border-radius: 2px;
}
.support-vinyl { background-color: #76B6C2; }
.support-eigth-track { background-color: #4CDDF7; }
.support-cassette { background-color: #20B9BC; }
.support-cd { background-color: #2F8999; }
.support-download { background-color: #E39F94; }
.support-streaming { background-color: #ED7864; }
.support-other { background-color: #ABABAB; }

/* Color legend */
.color-legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}
.color-legend-item {
  margin: 5px 12px;
  font-size: 1.4rem;
}
.color-legend span {
  display: inline-block;
}
.color-legend-item-color {
  position: relative;
  top: 2px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  border-radius: 3px;
}

/* Sources */
.source {
  padding: 50px 0 30px;
  font-size: 1.4rem;
  line-height: 1.4;
}