.ranking-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.button {
  margin: 0;
  padding: 8px 6px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.1rem;
  color: #06273b;
  background-color: transparent;
  border: 1px dashed #06273b;
  border-left: none;
  cursor: pointer;
  transition: all 250ms ease-in;
}
.button:first-of-type {
  border-left: 1px dashed #06273b;
}
.button:hover,
.button.active {
  background-color: rgba(6, 39, 59, 0.15);
  transition-timing-function: ease-out;
}
.button.active {
  cursor: default;
}

@media (min-width: 600px) {
  .button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4rem;
  }
}