.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: 800px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.col,
[class^="col-"],
[class*=" col-"] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-12 {
  flex: 0 0 calc(12*100%/12);
  max-width: calc(12*100%/12);
}
.col-11 {
  flex: 0 0 calc(11*100%/12);
  max-width: calc(11*100%/12);
}
.col-10 {
  flex: 0 0 calc(10*100%/12);
  max-width: calc(10*100%/12);
}
.col-9 {
  flex: 0 0 calc(9*100%/12);
  max-width: calc(9*100%/12);
}
.col-8 {
  flex: 0 0 calc(8*100%/12);
  max-width: calc(8*100%/12);
}
.col-7 {
  flex: 0 0 calc(7*100%/12);
  max-width: calc(7*100%/12);
}
.col-6 {
  flex: 0 0 calc(6*100%/12);
  max-width: calc(6*100%/12);
}
.col-5 {
  flex: 0 0 calc(5*100%/12);
  max-width: calc(5*100%/12);
}
.col-4 {
  flex: 0 0 calc(4*100%/12);
  max-width: calc(4*100%/12);
}
.col-3 {
  flex: 0 0 calc(3*100%/12);
  max-width: calc(3*100%/12);
}
.col-2 {
  flex: 0 0 calc(2*100%/12);
  max-width: calc(2*100%/12);
}
.col-1 {
  flex: 0 0 calc(1*100%/12);
  max-width: calc(1*100%/12);
}