$gap: 0.02;
$smGrid: $sm - 1 + $gap;
$mdGrid: $md - 1 + $gap;
$lgGrid: $lg - 1 + $gap;
$xlGrid: $xl - 1 + $gap;

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter;
  padding-left: $gutter;
  width: 100%;
  max-width: $container;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1 * calc($gutter/2);
  margin-right: -1 * calc($gutter/2);
}
.col,
[class^="col-"],
[class*=" col-"] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: calc($gutter/2);
  padding-left: calc($gutter/2);
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
@media (max-width: $mdGrid) {
  .col-0 {
    display: none;
  }
}

//GRID
@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 calc($i*100%/12);
    max-width: calc($i*100%/12);
  }
}
@for $i from 1 through 12 {
  @media (min-width: $smGrid) {
    .col-sm-#{$i} {
      flex: 0 0 calc($i*100%/12);
      max-width: calc($i*100%/12);
    }
  }
}
@for $i from 1 through 12 {
  @media (min-width: $mdGrid) {
    .col-md-#{$i} {
      flex: 0 0 calc($i*100%/12);
      max-width: calc($i*100%/12);
    }
  }
}
@for $i from 1 through 12 {
  @media (min-width: $lgGrid) {
    .col-lg-#{$i} {
      flex: 0 0 calc($i*100%/12);
      max-width: calc($i*100%/12);
    }
  }
}
@for $i from 1 through 12 {
  @media (min-width: $xlGrid) {
    .col-xl-#{$i} {
      flex: 0 0 calc($i*100%/12);
      max-width: calc($i*100%/12);
    }
  }
}

//OFFSET
@for $i from 1 through 12 {
  @media (min-width: $smGrid) {
    .offset-sm-#{$i} {
      margin-left: calc(100%/12*$i);
    }
  }
}
@for $i from 1 through 12 {
  @media (min-width: $mdGrid) {
    .offset-md-#{$i} {
      margin-left: calc(100%/12*$i);
    }
  }
}
@for $i from 1 through 12 {
  @media (min-width: $lgGrid) {
    .offset-lg-#{$i} {
      margin-left: calc(100%/12*$i);
    }
  }
}
@for $i from 1 through 12 {
  @media (min-width: $xlGrid) {
    .offset-xl-#{$i} {
      margin-left: calc(100%/12*$i);
    }
  }
}

//OTHERS
.w-100 {
  width: 100% !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.align-self-start {
  align-self: flex-start !important;
}
.align-self-center {
  align-self: center !important;
}
.align-self-end {
  align-self: flex-end !important;
}
.justify-content-start {
  justify-content: flex-start !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-around {
  justify-content: space-around !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
//ORDERS
.order-12 {order: 12;}
.order-11 {order: 11;}
.order-10 {order: 10;}
.order-9 {order: 9;}
.order-8 {order: 8;}
.order-7 {order: 7;}
.order-6 {order: 6;}
.order-5 {order: 5;}
.order-4 {order: 4;}
.order-3 {order: 3;}
.order-2 {order: 2;}
.order-1 {order: 1;}