@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:wght@400;700&display=swap');

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body {
  margin: 0 0 60px;
  background-color: #f9fdff;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 500;
  color: #06273b;
}

/* Type */
h1, h2, h3, h4 {
  font-family: 'Bebas Neue', 'sans-serif';
}
h1 {
  margin: 6rem 0 1rem;
  font-size: 4.5rem;
}
h2 {
  margin: 0;
  font-size: 2.8rem;
  line-height: 1.2;
}


p {
  margin: 1.2rem 0;
}
a {
  color: #06273b;
  text-decoration: none;
  box-shadow: inset 0 -5px 0 0 rgba(255, 89, 94, 0.6);
  transition: box-shadow 0.2s ease-out;
}
a:hover, a:focus {
  box-shadow: inset 0 -18px 0 0 rgba(255, 89, 94, 0.6);
  transition-timing-function: ease-in;
}

/* loading */
.loading {
  margin: 6rem 0 1rem;
}

/* source */
.source {
  margin: 4rem 0 2rem;
}

/* axis */
.axis line {
  stroke: #888b8d;
}
.axis text {
  font-size: 14px;
  fill: #374f5e;
}