@import url('https://fonts.googleapis.com/css2?family=family=Roboto:wght@400;500;900&display=swap');

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: #FFFDFE;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
  color: #272626;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: 1240px;
}

/* Type */
h1, h2, h3, h4 {
  font-weight: 500;
}
h1 {
  margin: 6rem 0 1.2rem;
  font-size: 4rem;
}
h2 {
  margin: 3rem 0 1.2rem;
  font-size: 2.4rem;
  line-height: 1.2;
}
@media screen and (max-width: 596px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}
p {
  margin: 1.2rem 0;
}
a {
  color: #222323;
  text-decoration: none;
  box-shadow: inset 0 -5px 0 0 rgba(117, 72, 94, 0.3);
  transition: box-shadow 0.2s ease-out;
}
a:hover, a:focus {
  box-shadow: inset 0 -18px 0 0 rgba(117, 72, 94, 0.3);
  transition-timing-function: ease-in;
}

/* Sources */
.source {
  padding: 50px 0 30px;
  font-size: 1.4rem;
}