<ng-container>
  <h1>Front-end Frameworks</h1>
  <div class='row'>
    <div class='col-9'>
      <app-rankings
        [data]="data"
        [margin]="margin"
        [colorScale]="colorScale"
      ></app-rankings>
    </div>
    <div class='col-3'>
      <div class='row'>
        <div class='col-12'>
          <!-- <app-scatterplot-d3-controlled
            [data]="data.experience"
            [margin]="margin"
            [colorScale]="colorScale"
          ></app-scatterplot-d3-controlled> -->
          <app-scatterplot-angular-controlled
            [data]="data.experience"
            [margin]="margin"
            [colorScale]="colorScale"
          ></app-scatterplot-angular-controlled>
        </div>
        <div class='col-12'>
          <app-bar-chart
            [data]="data.experience"
            [margin]="margin"
            [colorScale]="colorScale"
          ></app-bar-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="source">Data source and original rankings chart: <a href="https://2021.stateofjs.com/en-US/libraries/front-end-frameworks">The State of JS 2021: Front-end Frameworks</a></div>
</ng-container>
